/* This css file contains the styling specific for the App component */

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background-color: aqua;
  padding: 1rem;
}

.navbar .links {
  display: flex;
  gap: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: fuchsia;
  color: whitesmoke;
  padding: 1rem;
}